

.wrapper {
  width: 100%;
  overflow-y: auto;
 

  .container {
    width: 100%;
    margin: auto;
    list-style: none;
   
    .box {
      width: 100%;
      padding: 10px 12px;
      background: #ffffff;
      box-shadow: 6px 8px 1.5px 0 rgba(0, 0, 0, 0.6);
      border-radius: 3px;
      overflow: hidden;
   
      .question {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
       
      }

      .answer {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s linear;
        

        &.active {
          max-height: 100%;
          
        }

        &__text {
          font-size: clamp(8px, 2vw, 15px);
          margin: 8px;
        }
      }
    }
  }
}
